<nav class="navbar navbar-dark justify-content-between container-fluid" style="background-color: #177FB8">
  <a class="navbar-brand">TextAnalyzer</a>
  <div class="form-inline">
    <mat-slide-toggle [(ngModel)]="makeRestRequest" color="warn">
      Online
    </mat-slide-toggle>
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-9 ">
      <input class="form-control" type="text" [(ngModel)]="inputText" placeholder="please enter text">
    </div>
    <div class="col-3">
      <button mat-raised-button color="warn" (click)="analyzeText()">
        Process
      </button>
    </div>
  </div>

  <div class="mt-3 text-center">
    <H2 class="m-0">
      Vowels
    </H2>
    <table class="table">
      <thead style="background-color: #3EBEEF">
      <tr>
        <th>Letter</th>
        <th>Count</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="vowel.a != 0">
        <th>A</th>
        <td>{{vowel.a}}</td>
      </tr>
      <tr *ngIf="vowel.e != 0">
        <th>E</th>
        <td>{{vowel.e}}</td>
      </tr>
      <tr *ngIf="vowel.i != 0">
        <th>I</th>
        <td>{{vowel.i}}</td>
      </tr>
      <tr *ngIf="vowel.o != 0">
        <th>O</th>
        <td>{{vowel.o}}</td>
      </tr>
      <tr *ngIf="vowel.u != 0">
        <th>U</th>
        <td>{{vowel.u}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-3 text-center pb-5">
    <H2 class="m-0">
      Consonants
    </H2>
    <table class="table">
      <thead style="background-color: #3EBEEF">
      <tr>
        <th>Letter</th>
        <th>Count</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of consonants.consonants | keyvalue">
        <th>{{item.key}}</th>
        <td>{{item.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
